body {
  font-family: verdana, geneva, arial, sans-serif;
}
h1,h2,h3,h4 {
  color:#006699;
}
h1,h2 {
  border-bottom:1px solid #006699;
}
h3 {
  border-bottom:1px dotted #006699;
}
h2 {
  font-size: 150%;
  margin:2em 0 1em;
}
h3 {
  font-size: 135%;
   margin:1.5em 0 1em;
}
h4 {
  margin:1.5em 0em 0em 0em;
  font-size: 115%;
}
a { text-decoration: none; }
a:hover { text-decoration:underline; }
.class, .property {
}
.note {
  color: #666;
}
a.uri {
  font-family:monospace;
  color:#000000;
}
.uriline {
  margin: 5px 0em 0em 0em;
}
.uriline a.small {
  padding-left: 2em;
  font-size: small;
  color: #666;
}


dt {
    font-weight: bold;
}
dl.table-display {
    float: left;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.table-display dt {
    clear: left;
    float: left;
    width: 9em;
    margin: 0;
    padding: 5px;
}
.table-display dd {
    float: left;
    margin: 0;
    padding: 5px;
}

.status-stable { color: #458B00 }
.status-testing { color: #8B5742 }
.status-unstable { color: #8B4500 }
.status-archaic { color: #8B8378 }

.footer {
  border-top: 1px solid #006699;
  margin-top: 2em;
  color: #666;
}
