<html>
  <head>
    <title>Just Another Ontology Server</title>
    <link rel="stylesheet" type="text/css" href="[% request.base %]css/jaos.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <h1>Just Another Ontology Server</h1>
  [% IF ontologies.size %]
  <p>
    The following ontologies may be useful to make use of data:
  </p>
    <ul>
      [% FOREACH o IN ontologies %]
        [% ontology = o.value %]
        [% prefix = o.key %]
        <li>
          <a href="[% prefix %]">[% prefix %]</a>:
          [% title = ontology.me.dc_title %]
          [% IF !title; title = ontology.me.dct_title; END %]
          [% title %]
        </li>
      [% END %]
    </ul>
  [% ELSE %]
    <p>Please add ontology files to the <code>data</code> directory!</p>
  [% END %]

[% INCLUDE 'foot.html' %]
