<html>
[% ograph = ontology.graph %]

[% title       = ontology.me.dc_title %]
[% IF !title; title = ontology.me.dct_title; END %]

[% description = ontology.me.dc_description %]
[% IF !description; description = ontology.me.dct_description; END %]

[% version = ontology.me.owl_versionInfo %]

  <head>
    <title>[% title | html %]</title>
    <link rel="stylesheet" type="text/css" href="[% request.base %]css/jaos.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>


<h1>[% title | html %]</h1>
[% IF description %]<p>[% description | html %]</p>[% END %]

<dl>
  <dt>Namespace and prefix</dt>
  <dd><a href="[% ontology.base %]">[% ontology.base %]</a> 
      ([% ontology.prefix %])</dd>
  [% IF version %]
    <dt>Version</dt>
    <dd>[% version %]</dd>
  [% END %]
  <dt>Download</dt>
  <dd>
    [% url = request.base _ ontology.prefix _ ".ttl" %]
    <a href="[% url %]">[% url %]</a> (RDF/Turtle format)
  </dd>
  <!-- TODO: download, last modification -->
</dl>

<!-- TODO: sort and split -->
[% classes    = ograph.subjects('rdf:type','owl:Class') %]
[% properties = ograph.subjects('rdf:type','rdf:Property') %]

[% object_properties = ograph.subjects('rdf:type','owl:ObjectProperty') %]
[% data_properties = ograph.subjects('rdf:type','owl:DatatypeProperty') %]

<h2>Table of Contents</h2>
<ul>
  [% IF classes %]
    <li><a href="#classes">Classes</a> ([% classes.size %])</li>
  [% END %]
  [% IF object_properties %]
    <li><a href="#object-properties">Object Properties</a> ([% object_properties.size %])</li>
  [% END %]
  [% IF data_properties %]
    <li><a href="#data-properties">Data Properties</a> ([% data_properties.size %])</li>
  [% END %]
  [% IF properties %]
    <!--li><a href="#properties">Properties</a> ([% properties.size %])</li-->
  [% END %]
</ul>

[% PROCESS 'macros.tpl' %]

[% IF classes %]
  <h2 id="classes">Classes</h2>

  [% PROCESS 'split_my_your.tpl' resources=classes %]

  [% IF my %]
    <h3>Classes defined in this ontology</h3>
    [% FOREACH c IN my %]
      [% PROCESS 'class.tpl' class=c %]
    [% END %]
  [% END %]

  [% IF yours %]
    <h3>Classes defined in other ontologies</h3>
    [% FOREACH c IN yours %]
      [% PROCESS 'class.tpl' class=c %]
    [% END %]
  [% END %]

[% END %]

[% IF object_properties %]
  <div class='cleaner'>&nbsp;</div>
  <h2 id="object-properties">Object Properties</h2>
  [% FOREACH p IN object_properties %]
    [% PROCESS 'property.tpl' property=p %]
  [% END %]
[% END %]

[% IF data_properties %]
  <div class='cleaner'>&nbsp;</div>
  <h2 id="data-properties">Data Properties</h2>
  <p>Data properties link resources to literal values.</p>
  [% FOREACH p IN data_properties %]
    [% PROCESS 'property.tpl' property=p %]
  [% END %]
[% END %]

<!--
[% IF datatypes %]
  <div class='cleaner'>&nbsp;</div>
  <h2 id="data-types">Datatypes</h2>
  <p>A <a href="http://www.w3.org/TR/rdf-concepts/#section-Datatypes-intro">RDF
  datatype</a> defines a set of Unicode strings which literal values of this
  datatype can take (<em>literal space</em>), and a mapping from this set to the
  set of possible meanings (<em>value space</em>). The datatype of a literal
  value must explicitely be expressed. This ontology includes the following
  datatypes.</p>
  ...
[% END %]
-->

<div class='cleaner'>&nbsp;</div>
[% INCLUDE 'foot.html' %]
